/*Global styles*/
body {
	margin: 0 0 0 0;
	font-family: Tohoma, Verdana, sans-serif;
}
h1 {
	margin: 0 0 0 0;
	font-size: 3em;
}
h2 {
	font=size: 2em;
	font-weight: 700;
}
p {
	font-size: 1em;
	font-weight: 700;
}

/*Header area*/
header {
	background-color: #ebedef;
	text-align: right;
}

header img {
	height: 70px;
}

header > nav {
	/*width: 100%;*/
	display: flex;
	align-items: center;
	margin: 0 30px 0 30px;
}

header > nav > ul {
	width: 100%;
	/*display: flex;*/
	text-align: right;
	/*padding-left: 550px;*/
	margin-bottom: 0;
}
header > nav > ul > li {
	text-align: right;
	display: inline-block;
}

header > nav > ul > li > a{
	text-align: right;
	font-size: 1em;
	padding: 0 20px;
	text-transform: uppercase;
	text-decoration: none;
	background-color: transparent;
	color: black;
}

header > nav > ul > li > a:hover{
	border-bottom: 3px solid currentColor;
  padding-bottom: 5px;
}

/*cover area*/
.cover {
	background-image: url('../img/buy_cover.jpg');
	background-size: cover;
	background-position: center;
	opacity: 0.9;
	width: 100%;
	height: 500px;
}

/*listings*/
.lists {
	text-align: center;
	background-color: white;
}
.lists h1 {
	padding: 30px 0;
	color: black;
}

/*info area*/
.info {
	display: flex;
	text-align: center;
	color: white;
}
.left_info {
	width: 50%;
	background: rgb(165, 49, 55);
}
.right_info {
	width: 50%;
	background: rgb(79, 124, 145);
}
.info_block {
	margin: 50px;
	border-style: double;
	border-width: 15px;
}
.info_block h3{
	font-size: 1.5em;
}
.info_block span {
	font-size: xx-large;
}
.info_block p {
	font-weight: 100;
	padding-bottom: 15px;
}

/*footer*/
footer {
	width: 100%;
	background-color: #ebedef;
	text-align: center;
	height: 50px;
	position: relative;
}
footer small {
	position: absolute;
	bottom: 10px;
	left: 45%
}


.content {
	padding: 30px 0 40px 0;
  /*height: 50rem;*/
  color: white;
  display: -webkit-box;
  display: flex;
  /*-webkit-box-pack: center;*/
          justify-content: center;
  /*-webkit-box-align: center;*/
          align-items: center;
}

.card {
  /*-webkit-perspective: 150rem;*/
          /*perspective: 150rem;*/
  height: 16rem;
  width: 20rem;
  position: relative;
  margin: 0 35px;
}
.card_side {
  height: 16rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 20rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.card_front {
  /*background-color: #1c1c1c;*/
  background-image: url(../img/listings/1.jpg);
  background-size: cover;
}
.card_back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #1c1c1c;
  line-height: 3rem;
}
.card_side.card_back h2 {
	padding-top: 15px;
}
.card_side.card_back p {
	font-weight: 300;
}
.card_side.card_back h3 {
	font-size: 2.5rem;
}
.card:hover .card_front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card:hover .card_back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}